#=================================================
# Directories
#=================================================
/**/tmp/
/**/uploads/
/**/datas/

#=================================================
# Files
#=================================================
/**/debug.txt
