/*===============================================*/
.border {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}
/*===============================================*/
.border2 {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
/*===============================================*/
.border3 {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 100px;
}
/*===============================================*/
.img {
    width: 100%;
    height: auto;
}
/*===============================================*/
.header {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}
/*===============================================*/
